@import "utils/+.scss";
@import "components/+.scss";


html {
  font-family: var(--font);
  font-weight: 400;
  font-size: var(--font-size);
  color:var(--c-black);
  min-width: 375px;
  min-height: 100vh;
}

body {
  background: white;
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

main {
  flex-grow: 1;
}