extends ../layouts/main.pug
block page
  .demo
    br
    include ../assets/svg/hamburger.svg
    br
    img(src="/src/assets/images/hamburger.svg" alt="hamburger" loading="lazy")
    br

    each link in navigation
      a(href="#")= link