//-----------------------------
// Font Face
//-----------------------------
@mixin font-face($font-family, $weight: normal, $file-path) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
    src: url('#{$file-path}.woff') format('woff'), url('#{$file-path}.woff2') format('woff2');
  }
}

//-----------------------------
// Placeholder
//-----------------------------
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

//-----------------------------
// Selection
//-----------------------------
@mixin selection {
  @include optional-at-root('::selection') {
    @content;
  }
  @include optional-at-root('::-moz-selection') {
    @content;
  }
}

//-----------------------------
// Scrollbar
//-----------------------------
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {

  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}


//-----------------------------
// Vertical and horizontal padding mixin
//-----------------------------
@mixin hpadding($value) {
  padding-left:$value;
  padding-right:$value;
}


@mixin vpadding($value) {
  padding-top:$value;
  padding-bottom:$value;
}

//-----------------------------
// Links animated underline
//-----------------------------
@mixin underline($color) {
  text-decoration: none;
  background: linear-gradient($color, $color) no-repeat 0% 90% / 0px 1px;
  transition: all .3s;

  &:hover {
    background-size: 100% 1px;
  }
}
