// ---------------------------------------
// Font Face
// ---------------------------------------
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $full: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $full == true {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
           url('#{$file-path}.woff')                format('woff'),
           url('#{$file-path}.woff2')               format('woff2'),
           url('#{$file-path}.ttf')                 format('truetype'),
           url('#{$file-path}.svg#webfont')         format('svg');
    } @else {
      src: url('#{$file-path}.woff')                format('woff'),
           url('#{$file-path}.woff2')               format('woff2'),
    }
  }
}

// ---------------------------------------
// Placeholder
// ---------------------------------------
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// ---------------------------------------
// Selection
// ---------------------------------------
@mixin selection {
  @include optional-at-root('::selection') {
    @content;
  }
  @include optional-at-root('::-moz-selection') {
    @content;
  }
}

// ---------------------------------------
// Scrollbar
// ---------------------------------------
@mixin scrollbar($size: 8px, $minlength: 30px, $track-color: #eee, $color: rgba(0,0,0,.2), $hover-color: rgba(0,0,0,.3), $active-color: rgba(0,0,0,.5)) {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: $color $track-color;

  &::-webkit-scrollbar {
    height: $size;
    width: $size;
  }
  &::-webkit-scrollbar-track {
    background-color: $track-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover-color;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: $active-color;
  }
  &::-webkit-scrollbar-thumb:vertical {
    min-height: $minlength;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    min-width: $minlength;
  }
}