:root {
  --font: 'Onest', sans-serif;
  --transition: all 150ms ease-in-out;
  --font-size:15px;

  --c-black: #222;
  --c-gray: #F3F4F9;
  --c-primary: #CA322B;
  --c-primary-dark: #AC2821;
  --c-secondary: #2453B1;
}

