<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="#232328" name="msapplication-TileColor" />
    <meta content='#232328' name='msapplication-navbutton-color' />
    <meta content="#232328" name="theme-color" />
    <meta content='#232328' name='apple-mobile-web-app-status-bar-style' />

    <title>{{ title }}</title>
    <link href="/src/assets/images/favicon.png" rel="shortcut icon" type="image/png") />
    <link rel="stylesheet" href="/src/styles/main.scss">
  </head>
  <body>
    <div id="app">
      <h1>{{ title }}</h1>
      <block name="body"></block>
    </div>

    <script type="module" src="/src/scripts/app.js"></script>
  </body>
</html>
